body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.filters {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

#eventContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background:aquamarine;
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.event-card img {
    height: 50%;
    width: 100%;
    border-radius: 5px;
}
